@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  color: hsl(229, 31%, 21%);
}

.main {
  margin: 30px 100px 50px 100px;
  gap: 100px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-right: 120px;
  text-align: center;
  align-items: center;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  font-size: 15px;
}

.nav-bar ul li a {
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.nav-bar ul li a:hover {
  color: hsl(0, 94%, 66%);
}

.login-btn {
  background: hsl(0, 94%, 66%);
  padding: 10px 30px;
  border: 2px solid transparent;
  color: #fff !important;
  border-radius: 4px;
  font-weight: 500;
}

.login-btn:hover {
  background: transparent;
  border: 2px solid hsl(0, 94%, 66%);
  color: hsl(0, 94%, 66%) !important;
}

.bookmark-manager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bookmark-manager .left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 45%;
}

.bookmark-manager .left-section h1 {
  width: 400px;
  color: hsl(229, 31%, 21%);
}

.bookmark-manager .left-section p {
  width: 500px;
  font-size: 18px;
  color: hsl(229, 8%, 60%);
  line-height: 1.5;
}

.get-btn {
  display: flex;
  gap: 15px;
}

.get-btn a {
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
}

.get-chrome {
  border: 2px solid hsl(231, 69%, 60%);
  background: hsl(231, 69%, 60%);
  color: #fff !important;
}

.get-chrome:hover {
  background: transparent;
  color: hsl(231, 69%, 60%) !important;
}

.get-firefox {
  border: 2px solid hsl(229, 8%, 60%);
  background: hsl(229, 8%, 60%);
  color: hsl(229, 31%, 21%) !important;
}

.get-firefox:hover {
  background: transparent;
  border: 2px solid hsl(229, 31%, 21%);
}

.bookmark-manager .right-section {
  position: relative;
}

.first-bg {
  position: absolute;
  right: 0;
  top: 30%;
  background: hsl(231, 69%, 60%);
  height: 350px;
  width: 100px;
  z-index: -1;
}

.first-bg::before {
  position: absolute;
  content: "";
  background: hsl(231, 69%, 60%);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  height: 350px;
  width: 350px;
  right: 100%;
}

.first-bg::after {
  position: absolute;
  content: "";
  background: hsl(231, 69%, 60%);
  height: 100%;
  width: 100vh;
  left: 100%;
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.features-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.features-body h2 {
  font-weight: 500;
}

.features-body p {
  text-align: center;
  width: 500px;
  color: hsl(229, 8%, 60%);
  font-size: 18px;
  line-height: 1.5;
}

.features-choose {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  text-align: center;
}

.features-choose div {
  color: hsl(229, 8%, 60%);
  padding: 20px 0;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  cursor: pointer;
}

.features-choose div:hover {
  color: hsl(0, 94%, 66%);
}

.features-choose div.active {
  color: hsl(229, 31%, 21%);
  border-bottom: 4px solid hsl(0, 94%, 66%);
}

.features-details {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 160px;
}

.features-details .right-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.features-details .right-section p {
  width: 400px;
}

.features-details .right-section button {
  border: 2px solid hsl(231, 69%, 60%);
  padding: 11px;
  width: 30%;
  background: hsl(231, 69%, 60%);
  font-family: inherit;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
}

.features-details .right-section button:hover {
  background: transparent;
  color: hsl(229, 31%, 21%);
  font-weight: 400;
}

.second-bg {
  position: absolute;
  left: 0;
  top: 25%;
  background: hsl(231, 69%, 60%);
  height: 350px;
  width: 100px;
  z-index: -1;
}

.second-bg::before {
  position: absolute;
  content: "";
  background: hsl(231, 69%, 60%);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 350px;
  width: 350px;
  left: 100%;
}

.second-bg::after {
  position: absolute;
  content: "";
  background: hsl(231, 69%, 60%);
  height: 100%;
  width: 100vh;
  right: 100%;
}
